certifi
charset-normalizer
click
colorama
cycler
dataclasses
Flask
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jsonify
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
patsy
Pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
six
sklearn
statsmodels
threadpoolctl
typing-extensions
urllib3
Werkzeug
wincertstore
zipp
